openai
beautifulsoup4
python-dotenv
langchain
langchain-openai
pypdf
pypdf2
faiss-cpu
langchain-hub
azure-storage-blob
azure-identity
PyDrive
pandas
langchain-community
google-auth-oauthlib
google-api-python-client
pywin32
PyQt5
python-pptx
python-docx
markdown2

